body {
	/*background-color: rgba(0, 255, 255, 0.22);*/
	/*background-color: green;
     background-image: url(../img/7.jpg);
    background-size: 100% 100%;*/
}

* ul li {
	list-style-type: none;
}

.Content {
	/*background-color:rgba(0, 255, 255, 0.22);*/
	padding: 0 20px;
	width: 1243px;
	margin: 20px auto;
	height: 1000px;
}

a {
	color: black;
	text-decoration: none;
}

.Content .Left {
	background-color: white;
	width: 200px;
	float: left;
}

.Content .Left li.Select {
	border-left: 3px solid #FF7D01;
}

.Content .Left li.Select a {
	color:#FF7D01;
}

.Content .Left ul li {
	/*background-color:#ffd800;*/
	margin: 2px 0px;
	list-style-type: none;
	padding: 20px 0px 20px 20px;
	/*margin-left: 0px;*/
}

.Content .Left ul li:hover {
	border-left: 3px solid #FF7D01;
}

.Content .Left ul li a {
	/* 
              background-color:red;
              */
	font-size: 20px;
	padding: 15px 75px 19px 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Content .Left ul li a:hover {
	color: #FF7D01;
}

.Content .Right {
	background-color: white;
	height: 900px;
	width: 1000px;
	float: right;
}

.Content .Right .Details {
	background-color: rgba(0, 255, 255, 0);
	height: 800px;
	width: 85%;
	margin: 20px auto;
}

.Content .Right .Details ul li {
	
	margin: 10px 10px 30px 0px;
	/*margin-left: -37px;*/
}

.Content .Right .Details p.AboutUS {
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px 0 19px 0;
	font-size: 20px;
}

.Content .Right .Details p.Question {
	
	font-size: 20px;
}

.Content .Right .Details p.Answer {
	
	font-size: 18px;
	margin-left: 30px;
}

.Content .Right .Details p.Title {
	font-size: 20px;
}

.Content .Right .Details p.Detail {
	padding: 10px 0 30px 0;
	font-size: 18px;
}

.Content .Right .Details img {
	width: 400px;
	height: 200px;
}

.Friend p {
	font-size: 18px;
	margin: 10px 0px;
}

.Friend p:hover {
	color: #FF7D01;
}