body {
	/*background-color: rgba(0, 255, 255, 0.22);*/
	/*background-color: green;
     background-image: url(../img/7.jpg);
    background-size: 100% 100%;*/
}

* ul li {
	list-style-type: none;
}

.Content {
	/*background-color:rgba(0, 255, 255, 0.22);*/
	padding: 0 20px;
	width: 1280px;
	margin: 20px auto;
	height: 700px;
}

a {
	color: black;
	text-decoration: none;
}

.Content .Left {
	/*margin-top: 150px;*/
	background-color: white;
/*	margin-left: 0px;*/
	width: 180px;
	float: left;
}

.Content .Left li.Select {
	border-left: 3px solid #FF7D01;
}

.Content .Left li.Select a {
	color:#FF7D01;
}

.Content .Left ul li {
	/*background-color:#ffd800;*/
	margin: 2px 0px;
	list-style-type: none;
	padding: 20px 0px 20px 20px;
	/*margin-left: 0px;*/
}

.Content .Left ul li:hover {
	border-left: 3px solid #FF7D01;
}

.Content .Left ul li a {
	/* 
              background-color:red;
              */
	font-size: 20px;
	padding: 15px 75px 19px 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Content .Left ul li a:hover {
	color: #FF7D01;
}

.Content .Right {
	background-color: white;
	height: 900px;
	width: 1050px;
	float: right;
}

.Content .Right .Details {
	background-color: rgba(0, 255, 255, 0);
	height: 800px;
	width: 95%;
	margin: 20px auto;
	/*background-color: #D3D3D3;*/
}

.Content .Right .Details p.AboutUS {
	/*background-color:#FF7D01 ;*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0px 0 23px 0;
	margin-bottom: 20px;
	font-size: 20px;
}
.Content .Right .Detail-1 ul li {
	background-color:rgba(0,0,0,0.02);
	margin-bottom: 20px;
	border: 1px solid lightgray;

}
.Content .Right .Detail-1 ul li #TopTR tr{
	display:block;
	background-color:rgba(0,0,0,0.1);
	/*margin-bottom: 20px;*/

}
.Content .Right .Detail-1 ul li #TopTR tr td{
	/*background-color:yellowgreen;*/
	width:205px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	
}
.Content .Right .Detail-1 ul li .Delect{
	background-color:rgba(0,0,0,0.05);
	display: block;
	height:50px;
	position:relative;
	border: 1px solid lightgray;
	border-bottom: none;


}
.Content .Right .Detail-1 ul li .Delect span{
	/*background-color:yellowgreen;*/
	width:50PX;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	padding:0px 10px;
}
.Content .Right .Detail-1 ul li #TR_2{
	background-color: white;
	position:relative;
	/*height:130px;*/
}
.Content .Right .Detail-1 ul li #TR_2 img{
	width:100px;
	height:100px;
	top:15px;
	left:15px;
	position:absolute;
	/*margin:5px 0px;*/
}
.Content .Right .Detail-1 ul li a #TR_2 tr td{
	/*background-color:yellowgreen;*/
	width:200px;
	padding:15px 0 0 0;
	text-align: center;
	/*line-height: 80px;*/
	
}
.Content .Right .Detail-1 ul li .Delect2{
	background-color:white;
	height:130px;
	border: 1px solid lightgray;
	border-top: none;
	display: block;


}
.Content .Right .Detail-2 table tr td{
	background-color:lightgray;
	width:330px;
	height:40px;
	line-height: 40px;
	text-align: center;

}
.Content .Right .Detail-3 ul#Detail-3-UL{
	/*background-color: red;*/
	height:42px;
	border-bottom: 1px solid lightgray;
}
.Content .Right .Detail-3 ul#Detail-3-UL li{
	border: 1px solid lightgray;
	border-bottom: none;
	width:120px;
	height:40px;
	float:left;
	line-height: 40px;
	text-align: center;
}
.Content .Right .Detail-3 ul#Detail-3-UL li:hover,
.Content .Right .Detail-3 ul#Detail-3-UL li.QSelect{
	background-color: #FF7D01;
	color:white;
	border: 1px solid #FF7D01;
}
.Content .Right .Detail-3 ul#Detail-3-UL li.NOQ{
	border-right:none;
	border-left:none;
}
.Content .Right .Detail-3 a{
	margin:20px 0 0 0;
	/*border: 1px solid lightgray;*/
	height:500px;
	clear: both;
	display: block;
	/*background-color: red;*/
	
}

.Content .Right .Detail-3 a#Detail-3-text ul li{
	background-color: lightgray;
	
	
}
.Content .Right .Detail-3 a#Detail-3-text ul li table tr td{
	background-color:lightgray;
	width:330px;
	height:40px;
	line-height: 40px;
	text-align: center;
}
.Content .Right .Detail-4 ul li,
.Content .Right .Detail-6 ul li{
	line-height: 70px;
	background-color:rgba(0,0,0,0.02);
	
	height:70px;
	margin:2px 0;
	
}
.Content .Right .Detail-4 ul li span,
.Content .Right .Detail-6 ul li span{
	text-align: center;
	width:180px;
	float:left;
	
	background-color:rgba(0,0,0,0.04);
	margin-right: 30px;
}
.Content .Right .Detail-4 ul li input,
.Content .Right .Detail-6 ul li input{
	height:35px;
	width:200px;
	border:1px solid rgba(0,0,0,0.2);
}
.Content .Right .Detail-4 ul li b,
.Content .Right .Detail-6 ul li b{
	color:#FF7D01;
}
.Content .Right .Detail-4 ul li input.year{
	height:35px;
	width:50px;
	text-align: center;
	border:1px solid rgba(0,0,0,0.2);
}
.Content .Right .Detail-4 ul li input.BaoCun,
.Content .Right .Detail-6 ul li input.BaoCun{
	height:40px;
	margin-left:380px;
	width:150px;
	text-align: center;
	background-color: #FF7D01;
	color:white;
}
.Content .Right .Detail-5 tr td{
	background-color:rgba(0,0,0,0.04);
	line-height: 40px;
	width:150px;
	text-align: center;
/*	border:1px solid rgba(0,0,0,0.2);*/
	
}
.Content .Right .Detail-7 tr td{
	background-color:rgba(0,0,0,0.04);
	line-height: 10px;
	width:15px;
	text-align: center;
	/*	border:1px solid rgba(0,0,0,0.2);*/

}
input.Address{
	border:none;
	text-align: center;
	line-height:40px;
	width:150px;
	background-color:rgba(0,0,0,0.01);
}
