* {
	padding: 0px;
	margin: 0px;
}

.Detail {
	/*height:2000px;*/
	/*background-color: red;*/
}

.Detail .Detail-Top {
	/*background-color: lightgray;*/
	width: 1300px;
	/*height:1000px;*/
	margin: 0 auto;
}

.Detail .Detail-Top .Detail-Top1 {
	/*background-color: #008000;*/
	padding: 5px 0;
}

.Detail .Detail-Top .Detail-Top2 {
	height: 500px;
	position:relative;
	/*background-color: green;*/
	padding-top: 20px;
	border: 1px solid lightgray;
}

.small-box {
	width: 450px;
	height: 450px;
	float: left;
	position: relative;
	/*border: 1px solid #ccc;*/
}

.small-box img {
	width: 450px;
	height: 450px;
	;
}

.small-box .square {
	position: absolute;
	left: 0;
	top: 0;
	background:#FF7D01;
	opacity: 0.5;
	/*display: none;*/
}

.small-box .mask {
	width: 450px;
	height: 450px;
	/*background-color: #FF7D01;*/
	position: absolute;
	top: 0;
	left: 0;
}



.img-list {
	float: left;
	margin:0 10px 0 30px;
}

.img-list ul li {
	margin: 0 10px;
	padding: 6px;
	/*background-color: red;*/
	/*width: 70px;*/
}

.img-list img {
	border: 2px solid transparent;
}

.img-list img.active {
	border: 2px solid darkorange;
}

.big-box {
	position: absolute;
	top: 20px;
	left: 600px;
	margin-left: 2px;
	border: 1px solid #cccccc;
	width: 500px;
	height: 500px;
	overflow: hidden;
	background-color: #000000;
	display: none;
}

.big-box img {
	position: absolute;
	top: 0;
	left: 0;
	width:1000px;
	height:1000px;
}

.Detail-Top2 .Detail-Top2-Left3 {
	/*background-color:lightgreen;*/
	width: 650px;
	float: left;
	padding: 0px 0 0 40px;
}

.Left3-OutUL li {
	/*background-color: #FF0000;*/
	margin: 0 0 10px 20px;
	width: 600px;
}

.Left3-OutUL li span {
	/*background-color: whitesmoke;*/
	padding-right: 30px;
}

.Left3-OutUL .A a {
	/*background-color: #FF0000;*/
	padding: 0 12px;
	margin: 0 10px;
	border: 1px solid lightgray;
	color: gray;
}

.Left3-OutUL .A a:hover {
	color: orange;
	border: 1px solid orange;
}

.Left3-OutUL li input {
	line-height: 39px;
	text-align: center;
	width: 40px;
	border: none;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.Left3-OutUL .BUTTOM a {
	/*margin-top:2px;*/
	/*background-color:white;*/
	font-size: 20px;
	/*border:1px solid lightgray;*/
	padding: 3px 10px 8px 10px;
	background-color: #D3D3D3;
	display: inline-block;
	cursor: pointer;
}

.Jian-Min {
	color: gray;
}

.Jian-Max {
	color: black;
}

.Left3-OutUL .BUTTOM1 a {
	padding: 12px 40px;
	margin-right: 20px;
	color: white;
}

.Detail-Top3 {
	width: 1030px;
	/*background-color:lightcoral;*/
	padding: 10px 0 20px 20px;
	border: 1px solid lightgray;
	margin: 20px 0 50px 0;
}

.Detail-Top3 .Top3-Top {
	/*background-color: #808080;*/
	height: 60px;
	width: 1000px;
	border-bottom: 1px solid lightgray;
}

.Detail-Top3 .Top3-Top ul li {
	padding: 15px 35px;
	float: left;
	/*background-color: #FFA500;*/
	font-weight: bold;
}

.Detail-Top3 .Top3-Top ul li:hover,
.Top3-Top-Select {
	background-color: #FF7D01;
}

.Detail-Top3 .Top3-Top ul li:hover a,
.Top3-Top-Select a {
	color: white;
}

.Top3-Content {
	/*position:relative;*/
	/*background-color: red;*/
	width: 1000px;
}

.Top3-Content ul li {}

.Top3-Content0 img {
	margin-left: 30px;
	margin-top: -6px;
}

.CanShu-OUTUL {
	/*background-color: #008000;*/
	height: 100px;
	margin-left: 30px;
}

.CanShu-OUTUL li {
	/*background-color: #008000;*/
	margin: 5px;
	width: 300px;
	float: left;
}

.CanShu-OUTUL .CanShu-InnerUL li {
	/*background-color: red;*/
	margin: 2px;
	color: gray;
}

.Top3-Content1 {
	padding-top: 20px;
	width: 900px;
	/*background-color: red;*/
}

.Top3-Content1 ul li {
	margin: 5px;
	color: gray;
	margin-left: 35px;
	/*background-color: green;*/
}

.Top3-Content1 ul li p {
	margin-left: 84px;
}

.Top3-Content1 ul li b {
	/*background-color: red;*/
	margin-right: 15px;
}