* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: rgba(245, 245, 245, 0.8);
}

* ul li {
	list-style-type: none;
}

a {
	color: black;
}

.TopTop {
	/*background-color: red;*/
	height: 25px;
	width: 1300px;
	margin: 0 auto;
}

.TopTop ul {
	/*background-color: #008000;*/
	height: 100%;
}

.TopTop ul li {
	/*background-color: #808080;*/
	float: right;
	margin-left: 30px;
	padding-top: 5px;
	/*line-height: 28px;*/
	font-size: 18px;
	display: block;
}

.TopTop ul li a:hover {
	color: #FF7D01;
}

.Top1 {
	clear: both;
	/*width:100%;*/
	background-color: #343841;
	height: 101px;
}

.Top1 ul {
	margin: 0 auto;
	width: 1320px;
	height: 100px;
	background-color: #343841;
}

.Top1 ul li {
	line-height: 77px;
	float: right;
	/*background-color: #FF0000;*/
	margin-left: 35px;
	display: block;
	padding: 10px;
}

.Top1 ul li a {
	color: white;
	font-size: 23px;
}

.Top1 ul li a:hover {
	color: #FF7D01;
}

.Top1 input {
	color: gray;
	height: 40px;
	width: 300px;
	background-color: white;
	border: none;
}

.Top2 {
	clear: both;
	height: 35px;
	background-color: #FF7D01;
}

.Top2 ul {
	margin: 0 auto;
	width: 1300px;
	height: 35px;
	background-color: #FF7D01;
	/*background-color: #000000;*/
}

.Top2 ul li {
	/*margin-left:-40px;*/
	float: left;
	/*background-color: gold;*/
	margin-right: 18px;
}

.Top2 ul li a {
	padding: 0 5px;
	line-height: 35px;
	color: white;
	font-size: 14px;
}

.Top2 ul li a:hover {
	text-decoration: underline;
}

.CONTENT {
	width: 1298px;
	margin: 0 auto;
	height: 330px;
}

.CONTENT .Top {
	height: 300px;
	width: 610px;
	float: left;
}

.CONTENT .Top-Left {
	padding-left: 50px;
	position: relative;
	height: 330px;
	width: 446px;
	background-color: white;
	float: right;
}

.CONTENT .Top-Left h3 {
	margin-top: 15px;
}

.CONTENT .Top-Left p {
	color: orangered;
}

#container {
	width: 800px;
	height: 330px;
	overflow: hidden;
	position: relative;
}

#list {
	width: 5600px;
	height: 330px;
	position: absolute;
	z-index: 1;
}

#list img {
	float: left;
	width: 800px;
	height: 330px;
}

#buttons {
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 20px;
	left: 340px;
}

#buttons span {
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}

#buttons .on {
	background: red;
}

.arrow {
	cursor: pointer;
	display: none;
	line-height: 39px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	top: 100px;
	background-color: RGBA(0, 0, 0, .3);
	color: #fff;
}

.arrow:hover {
	background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
	display: block;
}

#prev {
	left: 20px;
}

#next {
	right: 20px;
}

.Detail {
	/*margin-top:30px;*/
}

.Contentdetail {
	/*background-color: greenyellow;*/
	width: 1298px;
	margin: 30px auto;
	height: 510px;
}

.Contentdetail .Contentdetail-outUL li {
	/*background-color: red;*/
	float: left;
	margin: 5px;
}

.Contentdetail .Contentdetail-InnerUL li {
	/*background-color: greenyellow;*/
	clear: both;
	width: 235px;
}

.Contentdetail2 .Contentdetail2-outUL li {
	/*background-color: red;*/
	margin: 8px;
}

.Contentdetail2 .Contentdetail2-InnerUL li {
	/*background-color: greenyellow;*/
	float: left;
	width: 235px;
}

.bottom {
	height: 500px;
	min-width: 1140px;
	/*background-color:#D3D3D3;*/
	margin-top: 10px;
}

.bottom .bottomTop {
	/*background-color: red;*/
	height: 300px;
	width: 1300px;
	margin: 0 auto;
	position: relative;
}

.bottom .bottomTop a {
	color: #333333;
}

.bottom .bottomTop a:hover {
	color: orange;
}

.bottom .bottomTop .outUL {
	margin-top: 30px;
}

.bottom .bottomTop .outUL li {
	/*background-color: green;*/
	width: 130px;
	float: left;
	margin-left: 65px;
}

.bottom .bottomTop .InnerUL li {
	/*background-color: red;*/
	width: 120px;
	margin: 5px;
	/*text-align: center;*/
}

.bottom .bottomTop .InnerUL li:nth-child(1) a {
	font-weight: bold;
}

.bottom .bottomBar {
	background-image: url(../img/bar.png);
}

.bottom .bottomImg {
	height: 120px;
	width: 1300px;
	margin: 0 auto;
}

.bottom .bottomImg img {
	height: 60px;
	width: 1300px;
	margin-top: 30px;
}

.bottombottom p {
	/*background-color: red;*/
	width: 1600px;
	text-align: center;
	margin: 0 auto;
}

.bottombottom p a {
	margin: 2px;
	/*background-color: red;*/
}

.bottombottom p a:hover {
	color: orange;
}

.Border {
	position: fixed;
	background-color: white;
	width: 400px;
	z-index: 1000;
}

.Border .Border-Line {
	border-bottom: 1px solid lightgray;
	height: 39px;
	margin: 0px 10px 0 10px;
	padding-top: 10px;
}

.Border .Border-Line .Close {
	font-size: 30px;
	position: absolute;
	margin-top: -18px;
	margin-left: 200px;
	color: lightgray;
}

.Border .Border-Line .Close:hover {
	color: #FF7D01;
}

.Border .Border-Line ul li a {
	width: 70px;
	float: left;
	font-size: 20px;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 0 0 12px 0;
	color: gray;
}

.Border .Border-Line ul li a:hover,
.Border .Border-Line .Select a {
	border-bottom: 1px solid #FF7D01;
	color: #FF7D01;
}

.Border ul.Inner-UL li {
	margin: 10px 0 10px 20px;
}

.Border input.Login-Input {
	width: 350px;
	height: 30px;
	outline: none;
	color: black;
}

.Border input.RememberPassword {
	font-size: 10px;
}

.Border input.Login-Button {
	background-color: #FF7D01;
	width: 350px;
	height: 35px;
	border: none;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}

.Password-text {
	font-size: 14px;
	color: gray;
}

.Border .OtherSelect img {
	width: 30px;
	height: 25px;
	position: absolute;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 1000px;
	width: 100%;
	z-index: 999;
}

.Error {
	font-size: 12px;
	color: red;
	/*visibility: hidden;*/
	height: 15px;
}

.buttom_Fixed {
	background-color:#D3D3D3;
	position: fixed;
	width:80px;
	height:100px;
	right: 30px;
	bottom: 100px;
	z-index: 99;
	border: 1px solid lightgray;
}
.buttom_Fixed img{
	width:45px;
	height:40px;
	padding:15px;
	/*background-color: #008000;*/
}
.buttom_Fixed p{
	text-align: center;
}
