body {
  /*background-color:rgba(0, 255, 255, 0.22);*/
}
* ul li {
	list-style-type: none;
}

* a {
	color: black;
	text-decoration: none;
}
.OutPart{
	/*background-color:rgba(255, 255, 255, 0.5);*/ 
	padding: 20px;
	width:1300px;
	margin:0 auto;
	padding-bottom: 100px;
}
.OutPart-Top .Top-FX {
	/*background-color: red;*/
	padding:10px 0;
	margin-bottom:10px ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.OutPart-Top .Top-FX ul{
	margin-left:59px;
	margin-top: -30px;
	
}
.OutPart-Top .Top-FX ul li{
	display:inline;
	text-align: center;
	font-size:18px ;
	padding:2px;
	margin:5px 15px;
	border-radius: 5px;
}
.Classify-Details-Select,
.OutPart-Top .Top-Classify ul li:hover,
.OutPart-Top .Top-FX ul li:hover,
.OutPart-Top .Top-FX ul li.select{
	background-color: #FF7D01;
	
}
.Classify-Details-Select a,
.OutPart-Top .Top-Classify ul li:hover a,
.OutPart-Top .Top-FX ul li:hover a,
.OutPart-Top .Top-FX ul li.select a{
	color:white ;
}
.OutPart-Top .Top-Classify{
	/*background-color: yellow;*/
	padding:10px 0 20px 0;
}
.OutPart-Top .Top-Classify span,
.OutPart-Top .Top-FX span{
	
	font-size:20px ;
	padding:5px;
	margin:5px 15px;
	border-radius: 8px;
}
.OutPart-Top .Top-Classify .Classify-Details{
	background-color:rgba(255, 25, 2, 0); 
	margin-left: 59px;
	margin-top: -32px;;
	
}
.OutPart-Top .Top-Classify ul {
	
	
}
.OutPart-Top .Top-Classify ul li{
	float: left;
	text-align: center;
	font-size:18px ;
	padding:2px;
	margin: 0 10px 15px 15px;
	border-radius: 5px;
	
}



.Content {
	
	height: 250px;
	margin: 50px 0px 0px 0;
	border-radius: 8px;
	clear: both;
}

.Content ul{
	/*margin-left: -39px;*/
}
.Content ul li {
	/**/
	
	width: 18%;
	float: left;
	border-radius: 8px;
}
.OutPart-CONTENT .Content ul li h4:hover,
.OutPart-CONTENT .Content ul li p:hover {
       color:red;
    }
.Content ul li .Img {
	height: 150px;
	border-radius: 8px;
	background-image: url(../img/11.jpg);
}

.Span {
	color: white;
	width: 35px;
	height: 20px;
	padding: 3px 10px;
	margin-top: 110px;
	margin-left: 10px;
	position: absolute;
	background-color: RGBA(0, 0, 0, .2);
	border-radius: 10px;
}

.Content ul li h4,
.Content ul li p {
	margin: 10px 5px;
	/* background-color:RGBA(0,0,0,.3);*/
}